# Node
node_modules/
build/
dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Kubernetes
*.kubeconfig

# Jenkins
workspace/

# Trivy / Scan Reports
trivy.txt
dependency-check-report.*

# IDE
.vscode/
.idea/

# Helm
*.tgz